// Typography
$Heading_Font: 'Bebas Neue', cursive;
$Body_Font: 'Roboto Condensed', sans-serif;

// Colors

$blue-100: #17F0FF;
$blue-200: #00E8F8;
$blue-300: #00CFDD;
$blue-400: #00B6C2;
$blue-500: #00A0AB;

$white-100: #FAFAFA;
$white-200: #E4E4E4;
$white-300: #878787;
$white-400: #484848;
$white-500: #202020;
$white-600: #101010;

// Media Queries Sizes
$phone: 375px;
$iPad: 1024px;
$MacBook: 1440px;
$desktop: 1920px;